// ===== Button CSS =====
.button {
	position: relative;
	width: 200px;
	height: 50px;
	background-color: $button-primaryLight-color;
	border-radius: 3px;
	cursor: pointer;
	
	.button--title {
		font-size: 15px;
		font-weight: 300;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		line-height: 50px;
		margin: 0;
	}

	&:hover {
		background-color: $button-primaryLight-hover-color;
	}

	&:active {
		background-color: $button-primaryLight-active-color;
	}

}


// ===== Button Description =====
.button_desc_container {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-top: 10px;
	pointer-events: none;
	cursor: default;
}

// ===== Button Container =====
.button--container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
	// margin-left: auto;
	// margin-right: auto;
}


// ===== Button Annotation =====
.button__annotation-left-text{
	position: absolute;
	top: calc(50% - 8px);
	right: 110%;
	color: $button__annotation-color;
	transition: all 250ms ease;
	opacity: 0;
	pointer-events: none;
}

.button__annotation-right-text {
	position: absolute;
	top: calc(50% - 8px);
	left: 115%;
	color: $button__annotation-color;
	transition: all 250ms ease;
	pointer-events: none;
	@include word-wrap-disable;
}

.button__annotation-left-line{
	position: absolute;
	top: 0;
	right: 105%;
	background: $button__annotation-color;
	width: 2px;
	height: 50px;
	transition: all 250ms ease;
	transform: scaleY(0);
	pointer-events: none;
	
	&:after {
		content:'';
		position: absolute;
		width: 5px;
		height: 2px;
		left: -50%;
		background-color: $button__annotation-color;
	}
	&:before {
		content:'';
		position: absolute;
		width: 5px;
		height: 2px;
		left: -50%;
		bottom: 0;
		background-color: $button__annotation-color;
	}
}

.button__annotation-right-line {
	position: absolute;
	top: 10%;
	left: 107%;
	background: #f255ac;
	width: 2px;
	height: 25px;
	transition: all 1s cubic-bezier(0.42, 0, 0, 0.995);
	transform: scaleY(0) rotate(0deg);
	transform-origin: center;
	pointer-events: none;
}

.button__annotation-right-circle {
	position: absolute;
	top: -15%;
	left: 95%;
	background: '';
	width: 20px;
	height: 20px;
	border: 2px solid #f255ac;
	border-radius: 100%;
	transition: all 1s cubic-bezier(0.42, 0, 0, 0.995);
	transform: scale(0);
	transform-origin: center;
	pointer-events: none;
}




// ====== Button Animation with Annotations =====

.aos-animate {

	.button__annotation-left-line.button--animated-scaleY {
		animation: scaleY 1s cubic-bezier(0.42, 0, 0, 0.995) forwards;
		transform-origin: center center;
		animation-delay: 1s;
	}

	.button__annotation-left-text.button--animated-left {
		animation: left 1s cubic-bezier(0.42, 0, 0, 0.995), 
								fade 0.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
		opacity: 0;
		animation-delay: 1.5s;
	}


	.button__annotation-right-text.button--animated-right {
		animation: right 1s cubic-bezier(0.42, 0, 0, 0.995), 
								fade 0.5s cubic-bezier(0.42, 0, 0, 0.995) forwards;
		opacity: 0;
		animation-delay: 3s;
	}

	.button__annotation-right-line {

		&.button--animated-scaleY {
		  transform: scaleY(1) rotate(-45deg); 
			transition-delay: 2.5s;
		}
	}

	.button__annotation-right-circle {
		&.button--animated-scale {
			transform: scale(1); 
			transition-delay: 2.5s;
		}
	}




} // /.aos-animate

