doctype html
html
  head
    title PNI Styleguide
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    block head_end

  body
    block content

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js")
    script(src="js/jquery.hover3d.min.js")
    block body_end
