extends _layouts/home

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content
	include _partials/header

	//- Section Logo
	include _partials/section-logo
	
	//- 	//- Section Color
	//- include _partials/section-color

	//- 	//- Section ...
	//- include _partials/section-color


block body_end
	script(type="text/javascript" src="/js/script.js")
