extends _layouts/home

block head_end
	link(rel="stylesheet" href="css/style.css") 

block content
	include _partials/main

	//- Section Logo	
	include _partials/section-logo
	
	//- 	//- Section Buttons
	include _partials/section-buttons

	//- 	//- Section ...
	//- include _partials/section-color


block body_end
	script(type="text/javascript" src="/js/script.js")
	script(type="text/javascript" src="/js/main.js")
