//- ===== Button example =====
.button
  h1.button__title button
  .button__desc Size: 15px
  .button__annotation-left-text.button__annotation-left-text-appear 50px
  .button__annotation-left-line.button__annotation-left-line-appear
  .button__annotation-right-text.button__annotation-right-text-appear 3px Radius Corners


