#blind
  .loader
    svg#_x36_14951af-669b-4e2a-8308-c06d587c2613(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 570 163', xml:space='preserve')
      title page-1-copy-8
      path#_x39_6114e26-3c94-42b1-b422-0290a1c6f93c.logo.NXWXaTDz_0(d='M197.1,78.4c3.7,0,6.6-1,8.7-2.9c2.1-2.1,3.2-5,3.1-7.9\
      c0.1-3-1-5.9-3.1-8c-2.1-2-5-3-8.7-3h-13.4c-0.3,0-0.7,0.2-0.7,0.5c0,0.1,0,0.1,0,0.2v20.4c0,0.3,0.2,0.7,0.5,0.7c0.1,0,0.1,0,0.2,0\
      L197.1,78.4z M166.7,122.5c-0.6,0.1-1.1-0.3-1.2-0.9c0-0.1,0-0.2,0-0.3V42.7c-0.1-0.6,0.3-1.1,0.9-1.2c0.1,0,0.2,0,0.3,0h31.5\
      c4-0.1,8,0.6,11.8,1.9c3.3,1.2,6.4,3,9,5.4c2.5,2.3,4.4,5.1,5.6,8.2c1.3,3.4,2,7,1.9,10.6c0,3.6-0.6,7.2-2,10.5\
      c-1.3,3.1-3.2,5.9-5.6,8.2c-2.6,2.4-5.6,4.2-8.9,5.4c-3.8,1.3-7.8,2-11.8,1.9h-14.4c-0.3,0-0.7,0.2-0.7,0.5c0,0.1,0,0.1,0,0.2v27\
      c0.1,0.6-0.3,1.1-0.9,1.2c-0.1,0-0.2,0-0.3,0L166.7,122.5z')
      path#_x30_f92ec9d-d55f-40aa-a923-7202ff3c420f.logo.NXWXaTDz_1(d='M228.5,42.7c-0.1-0.6,0.3-1.1,0.9-1.2c0.1,0,0.2,0,0.3,0h14.4\
      c0.8,0,1.6,0.5,2,1.2l28.8,51h0.6v-51c-0.1-0.6,0.3-1.1,0.9-1.2c0.1,0,0.2,0,0.3,0h13.6c0.6-0.1,1.1,0.3,1.2,0.9c0,0.1,0,0.2,0,0.3\
      v78.6c0.1,0.6-0.3,1.1-0.9,1.2c-0.1,0-0.2,0-0.3,0H276c-0.8,0-1.6-0.5-2-1.2l-29-50.9h-0.6v50.9c0.1,0.6-0.3,1.1-0.9,1.2\
      c-0.1,0-0.2,0-0.3,0h-13.6c-0.6,0.1-1.1-0.3-1.2-0.9c0-0.1,0-0.2,0-0.3V42.7z')
      path#_x35_f44e977-6ff9-41ca-8424-2f98e8c29eff.logo.NXWXaTDz_2(d='M297.5,42.7c-0.1-0.6,0.3-1.1,0.9-1.2c0.1,0,0.2,0,0.3,0h15.5\
      c0.6-0.1,1.1,0.3,1.2,0.9c0,0.1,0,0.2,0,0.3v78.6c0.1,0.6-0.3,1.1-0.9,1.2c-0.1,0-0.2,0-0.3,0h-15.5c-0.6,0.1-1.1-0.3-1.2-0.9\
      c0-0.1,0-0.2,0-0.3V42.7z')
      path#_x37_81b8d1d-98e2-42c6-80a2-219e5e253f3f.logo.NXWXaTDz_3(d='M324.5,42.7c-0.1-0.6,0.3-1.1,0.9-1.2c0.1,0,0.2,0,0.3,0h4.6\
      c0.8-0.1,1.5,0.4,1.8,1.2l26.4,58h0.5l25.8-58c0.2-0.7,0.9-1.2,1.7-1.2h4.7c0.6-0.1,1.1,0.3,1.2,0.9c0,0.1,0,0.2,0,0.3v78.6\
      c0.1,0.6-0.3,1.1-0.9,1.2c-0.1,0-0.2,0-0.3,0h-4.5c-0.6,0.1-1.1-0.3-1.2-0.9c0-0.1,0-0.2,0-0.3V57.9h-0.4l-23.4,51.3\
      c-0.2,0.4-0.4,0.7-0.8,1c-0.4,0.2-0.9,0.3-1.4,0.3h-2.4c-0.9,0-1.7-0.5-2-1.3l-23.4-51.3h-0.4v63.4c0.1,0.6-0.3,1.1-0.9,1.2\
      c-0.1,0-0.2,0-0.3,0h-4.5c-0.6,0.1-1.1-0.3-1.2-0.9c0-0.1,0-0.2,0-0.3L324.5,42.7z')
      path#_x31_d3aa528-31d8-4db9-93b4-a361a8b1efcb.logo.NXWXaTDz_4(d='M439.4,89.9c0.3,0,0.7-0.2,0.7-0.5c0-0.1,0-0.1,0-0.2\
      c0-1.5-0.1-3-0.2-4.5c-0.1-1.2-0.4-2.4-0.8-3.6c-0.9-3.2-2.8-6.1-5.6-8c-2.9-1.8-6.2-2.7-9.6-2.6c-3.3-0.1-6.6,0.8-9.4,2.6\
      c-2.7,1.9-4.7,4.8-5.6,8c-0.4,1.2-0.7,2.4-0.8,3.6c-0.2,1.5-0.3,3-0.2,4.5c-0.1,0.3,0.2,0.7,0.5,0.7c0.1,0,0.1,0,0.2,0L439.4,89.9z\
      M424.6,123.5c-5.5,0-10.1-1.3-13.7-3.8c-3.8-2.7-6.5-6.7-7.8-11.2c-0.6-1.9-1-3.9-1.2-5.9c-0.3-2.9-0.4-5.8-0.4-8.7\
      c0-2.9,0.1-5.8,0.4-8.7c0.2-2,0.6-4,1.2-6c1.3-4.4,4-8.2,7.8-10.9c3.8-2.6,8.4-3.9,13-3.8c4.7-0.1,9.2,1.2,13.1,3.8\
      c3.7,2.7,6.5,6.5,7.8,10.9c0.6,1.9,1.1,3.9,1.3,5.9c0.3,3,0.4,6.1,0.4,9.1c0,0.8-0.4,1.2-1.3,1.2h-36.6c-0.5,0-0.7,0.3-0.7,0.8\
      c0,1.9,0.1,3.8,0.3,5.8c0.2,1.4,0.5,2.8,0.9,4.2c1,3.4,3.2,6.3,6.1,8.4c2.9,1.8,6.4,2.8,9.8,2.7c3.2,0.1,6.5-0.6,9.4-2.1\
      c2.4-1.3,4.6-3,6.3-5.2c0.2-0.5,0.8-0.7,1.3-0.5c0.1,0.1,0.2,0.1,0.3,0.2l2.7,2.5c0.5,0.4,0.6,1,0.2,1.5c0,0-0.1,0.1-0.1,0.1\
      c-2.2,2.9-5,5.2-8.3,6.8C433,122.7,428.8,123.6,424.6,123.5z')
      path#e86fde78-4760-42bf-873a-8ce091e9d4ac.logo.NXWXaTDz_5(d='M475,117.3c3.2,0.1,6.4-0.8,9.1-2.5c2.6-1.8,4.5-4.4,5.4-7.5\
      c0.6-1.8,1-3.6,1.2-5.5c0.3-2.6,0.4-5.2,0.4-7.8c0-2.6-0.1-5.2-0.4-7.8c-0.2-1.9-0.6-3.8-1.2-5.6c-0.9-3.1-2.8-5.7-5.4-7.5\
      c-2.7-1.7-5.9-2.6-9.1-2.5c-3.3-0.1-6.5,0.8-9.2,2.6c-2.5,1.8-4.4,4.4-5.3,7.4c-0.7,2-1.1,4.1-1.3,6.2c-0.2,2.3-0.3,4.8-0.3,7.3\
      s0.1,5,0.3,7.2c0.2,2.1,0.6,4.1,1.3,6.1c0.9,3,2.8,5.6,5.3,7.4C468.5,116.6,471.7,117.5,475,117.3L475,117.3z M492.3,122.3\
      c-0.5,0.1-1.1-0.2-1.2-0.8c0-0.1,0-0.3,0-0.4v-6.9H491c-1.4,2.7-3.5,5-6.1,6.7c-2.7,1.7-6.4,2.6-11.2,2.6c-10,0-16.4-4.5-19.2-13.6\
      c-0.8-2.4-1.3-4.8-1.6-7.3c-0.3-2.9-0.4-5.7-0.4-8.6c0-2.9,0.1-5.8,0.4-8.7c0.3-2.5,0.8-4.9,1.6-7.3c2.8-9,9.3-13.6,19.2-13.6\
      c4.8,0,8.5,0.9,11.2,2.6c2.6,1.6,4.7,3.9,6.1,6.7h0.1v-31c-0.1-0.5,0.2-1.1,0.8-1.2c0.1,0,0.3,0,0.4,0h4c0.6-0.1,1.1,0.3,1.2,0.9\
      c0,0.1,0,0.2,0,0.3v78.4c0.1,0.5-0.2,1.1-0.8,1.2c-0.1,0-0.3,0-0.4,0L492.3,122.3z')
      path#_x30_1ccd5b1-840b-465a-b5ee-d66a9c9f6d5a.logo.NXWXaTDz_6(d='M511.4,122.5c-0.8,0-1.3-0.4-1.3-1.2V66.9\
      c0-0.8,0.4-1.2,1.3-1.2h4.2c0.8,0,1.3,0.4,1.3,1.2v54.4c0,0.8-0.4,1.2-1.3,1.2L511.4,122.5z M510.8,50.6c-0.8,0-1.3-0.4-1.3-1.2\
      v-6.7c0-0.8,0.4-1.2,1.3-1.2h5.5c0.8,0,1.3,0.4,1.3,1.2v6.7c0,0.8-0.4,1.2-1.3,1.2L510.8,50.6z')
      path#_x38_809ffd9-7c1e-497c-aa57-8f39dc177ded.logo.NXWXaTDz_7(d='M546.9,117.6c4.9,0,8.8-1.1,11.8-3.4c2.9-2.2,4.6-5.6,4.4-9.3\
      v-8.7c0-0.3-0.2-0.7-0.5-0.7c-0.1,0-0.1,0-0.2,0h-13.5c-5.7,0-9.8,0.9-12.2,2.7c-2.5,1.8-3.7,4.6-3.8,8.4c0,3.6,1.2,6.3,3.6,8.1\
      C538.9,116.6,542.4,117.6,546.9,117.6 M548.4,70.4c-2.9-0.1-5.7,0.3-8.5,1.1c-2.1,0.7-4,1.8-5.8,3.2c-0.7,0.6-1.3,0.5-1.8-0.1l-2-3\
      c-0.4-0.5-0.3-1.2,0.2-1.6c0,0,0.1-0.1,0.1-0.1c2.2-1.8,4.8-3.2,7.5-4c3.4-1,7-1.5,10.5-1.4c3.2-0.1,6.3,0.3,9.4,0.9\
      c2.4,0.5,4.6,1.6,6.5,3.2c1.7,1.6,3,3.6,3.7,5.8c0.9,2.8,1.3,5.8,1.2,8.8v37.9c0.1,0.6-0.3,1.1-0.9,1.2c-0.1,0-0.2,0-0.3,0h-3.9\
      c-0.6,0.1-1.1-0.3-1.2-0.9c0-0.1,0-0.2,0-0.3v-5.9h-0.1c-1.3,2.6-3.5,4.7-6.1,5.9c-3,1.6-6.8,2.4-11.5,2.4c-5.7,0-10.3-1.4-13.8-4.2\
      s-5.2-7-5.2-12.6c0-5.7,1.8-9.9,5.5-12.7c3.7-2.7,9-4.1,16-4.1h14.4c0.3,0,0.7-0.2,0.7-0.5c0-0.1,0-0.1,0-0.2v-5.8\
      c0-2-0.2-4-0.7-5.9c-0.4-1.6-1.2-3-2.4-4.1c-1.3-1.1-2.9-1.9-4.6-2.3C553.2,70.6,550.8,70.4,548.4,70.4')
      path#_x32_9d3a27a-98c0-46a9-a96d-221d05c5e5ed.hexleft.NXWXaTDz_8(d='M67.9,1.4l-63.7,37c-2.2,1.4-3.5,3.8-3.7,6.3v74\
      c0.1,2.6,1.5,4.9,3.6,6.4l13.7,8c2,1.2,3.6,0.2,3.6-2.1V57c0.1-2.6,1.5-4.9,3.6-6.3l42.8-24.9c1.1-0.6,2.4-0.9,3.6-0.9V0.5\
      C70.3,0.5,69,0.8,67.9,1.4')
      path#_x37_43009e8-aaf2-4fe5-9330-63791b458966.hexleft.NXWXaTDz_9(d='M67.9,137.5L46.1,125c-2-1.2-3.6-0.2-3.6,2.1v15.8\
      c0.2,2.5,1.5,4.8,3.6,6.2l21.8,12.6c1.1,0.6,2.4,0.9,3.6,0.9v-24.1C70.3,138.4,69,138.1,67.9,137.5')
      path#f5416936-3b2c-47ff-9e90-db0f683078c2.hexright.NXWXaTDz_10(d='M75.1,1.4c-1.1-0.6-2.4-0.9-3.6-0.9v24.3c1.3,0,2.5,0.3,3.6,0.9\
      l42.8,24.8c2.1,1.4,3.5,3.7,3.6,6.3v49.5c-0.1,2.6-1.5,4.9-3.6,6.3l-42.8,24.8c-1.1,0.6-2.4,0.9-3.6,0.9v24.3c1.3,0,2.5-0.3,3.6-0.9\
      l63.8-36.9c2.1-1.4,3.5-3.7,3.6-6.3V44.6c-0.1-2.6-1.5-4.9-3.6-6.3L75.1,1.4z')
      path#bb86f619-7e0f-4fd9-a4ae-5d82c9e543f3.hexagon.NXWXaTDz_11.Fill_salmon(d='M101.5,69.2c-0.1-2.5-1.5-4.9-3.7-6.2L76.2,51.3\
      c-2.3-1.1-5-1.1-7.4,0L47.2,63c-2.2,1.3-3.6,3.7-3.7,6.2v25.7c0.1,2.5,1.5,4.9,3.7,6.2l21.6,11.7c2.3,1.1,5,1.1,7.4,0l21.6-11.6\
      c2.2-1.3,3.6-3.7,3.7-6.2L101.5,69.2z')
.container
  #logo.menu
    h2 Logo
  #colour.menu
    h2 Colour
  #buttons.menu
    h2 Buttons
  #typography.menu
    h2 Typography
  #iconography.menu
    h2 Iconography
  #photography.menu
    h2 Photography

.scrolldown
  .circle
  a.arrow

ul.fixed-menu
  li#logo-menu L.
  li#colour-menu C.
  li#buttons-menu B.
  li#typography-menu T.
  li#iconography-menu I.
  li#photography-menu P.
