.container
  #logo.menu
    h2 Logo
  #colour.menu
    h2 Colour
  #buttons.menu
    h2 Buttons
  #typography.menu
    h2 Typography
  #iconography.menu
    h2 Iconography
  #photography.menu
    h2 Photography
//- .logo.main
//-   h1 Logo Content.
//- .colour.main
//-   h1 Colour Content.
//- .buttons.main
//-   h1 Buttons Content.
//- .typography.main
//-   h1 Typography Content.
//- .iconography.main
//-   h1 Iconography Content.
//- .photography.main
//-   h1 Photography Content.
ul.fixed-menu
  li#logo-menu Logo.
  li#colour-menu Colour.
  li#buttons-menu Buttons.
  li#typography-menu Typography.
  li#iconography-menu Iconography.
  li#photography-menu Photography.
