.container
  #logo.menu
    h2 Logo
  #colour.menu
    h2 Colour
  #buttons.menu
    h2 Buttons
  #typography.menu
    h2 Typography
  #iconography.menu
    h2 Iconography
  #photography.menu
    h2 Photography

.scrolldown
  .circle
  a.arrow

ul.fixed-menu
  li#logo-menu L.
  li#colour-menu C.
  li#buttons-menu B.
  li#typography-menu T.
  li#iconography-menu I.
  li#photography-menu P.
