#section-typography.typography.main

  include navigation-top
      
  .content

    // ===== Sections =====
    .section.sec-buttons
      article.section-article.buttons-article

        // ===== Sections--btn-intro =====
        //- section.-intro
        //-   .section-inner
        //-     p.intro-text.animated.delay
        //-       | Section Buttons
              
        // =====Sections--btn-example =====
        section.animated.delay
          .section-inner
            h1.section-inner__title Typography
            

            p.section-inner__desc 
              | Speciﬁcations for buttons that will be used throughout the site. The font used for CTA buttons is Museo Sans

        // =====Sections--primary-btn =====
        section
          .section-inner        
            p.section-inner__desc 



      .section-next
