.navbar
  a.navbar-logo(href='')
    img(src='img/logo.png', alt='')
.content
  .main
    // ===== Slider Nav - go to other sections(anchors)=====
    //- .slider-nav
    //-   .slider-nav-inner
    //-     a.slider-nav-item(href='') Logo
    //-     a.slider-nav-item(href='') Colour
    //-     a.slider-nav-item(href='') Buttons
    //-     a.slider-nav-item(href='') Typography
    //-     a.slider-nav-item(href='') Iconography
    //-     a.slider-nav-item(href='') Photography

    // ===== Sections =====
    .section.sec-logo
      header.logo-header
        .header-inner
          h1 Logo
      article.section-article.logo-article
        // ===== article 1st: logo-intro =====
        section.logo-intro
          .section-inner
            p.intro-text
              | Lorem ipsum dolor sit amet, quodsi lucilius tractatos ex pri, eu sea modo deleniti constituto. Dictas nostrum ei mel, mei ad equidem intellegam. Ei nam semper liberavisse, et vix decore omittantur deterruisset. Eos ei etiam oratio. Urbanitas temporibus ad qui, no munere deserunt pertinax eum.
        // ===== article 2nd: logo variation =====
        section.logo-variation
          .section-inner
            .aside-container
              aside.aside-item
                h1 1
                div
                  h2 Horizontal Logotype
                  p Use whenever possible
              aside.aside-item
                img(src='img/logo-1.png', alt='')
            .aside-container
              aside.aside-item
                h1 2
                div
                  h2 Vertical Logotype
                  p Use in UI with limited space
              aside.aside-item
                img(src='img/logo-2.png', alt='')
            .aside-container
              aside.aside-item
                h1 3
                div
                  h2 Glyph
                  p Use in UI with limited space
              aside.aside-item
                img(src='img/logo-3.png', alt='')
        // ===== article 3rd: logo-grid =====
        section.logo-grid
          .aside-container
            aside.aside-item
              img(src='img/logo.png', alt='')
            aside.aside-item
              img(src='img/logo-1.png', alt='')
          .aside-container
            aside.aside-item
              img(src='img/logo-white.png', alt='')
            aside.aside-item
              img(src='img/logo-blue.png', alt='')
        // ===== article 4rd: logo-recommend =====
        section.logo-recommend
          .section-inner
            h1 Padding Proportions
            h2 Recommended Practices
            p
              | Try to keep at least one red hexagon worth of space between the logotype and other elements.
            .logo-recommend-img
              img(src='img/logo-padding-1.png', alt=' ')
              img(src='img/logo-padding-2.png', alt='')
      .section-next
