#section-iconography.iconography.main
      
  include navigation-top

  .content

    // ===== Sections =====
    .section.sec-buttons
      article.section-article.iconography-article
              
        // =====Sections--iconography-example =====
        section.animated.delay
          .section-inner
            h1.section-inner__title Iconography

        section#first-section.iconography-content(data-aos='fade-up' data-aos-anchor="#section-iconography" data-aos-anchor-placement="top-bottom" data-aos-offset="-400")
          .grid-25.grid-sm-100.icon-description.animated.delay
            <h3>Icon Sets</h3>
            <p>Used on different sections of the website. Should be placed within a 80 px diameter circle, and have a 2 px stroke with round caps and corners.</p>
          .grid-70.grid-sm-100.icon-container
            img(src='img/icons/icon-sets/group.svg', alt='')
            img(src='img/icons/icon-sets/group-2.svg', alt='')
            img(src='img/icons/icon-sets/group-3.svg', alt='')
            img(src='img/icons/icon-sets/group-4.svg', alt='')
            img(src='img/icons/icon-sets/group-5.svg', alt='')
            img(src='img/icons/icon-sets/group-6.svg', alt='')
            img(src='img/icons/icon-sets/group-7.svg', alt='')
            img(src='img/icons/icon-sets/group-8.svg', alt='')
            img(src='img/icons/icon-sets/group-9.svg', alt='')
            img(src='img/icons/icon-sets/group-10.svg', alt='')
            img(src='img/icons/icon-sets/group-11.svg', alt='')
            img(src='img/icons/icon-sets/group-12.svg', alt='')
            img(src='img/icons/icon-sets/group-13.svg', alt='')
            img(src='img/icons/icon-sets/group-14.svg', alt='')
            img(src='img/icons/icon-sets/group-15.svg', alt='')
            img(src='img/icons/icon-sets/group-16.svg', alt='')
            img(src='img/icons/icon-sets/group-17.svg', alt='')
            img(src='img/icons/icon-sets/group-18.svg', alt='')
        <hr>
        section.iconography-content(data-aos='fade-up' data-aos-anchor="#first-section" data-aos-anchor-placement="top-bottom")
          .grid-25.grid-sm-100.grid-sm-100.icon-description.animated.delay
            <h3>Internal Icons</h3>
            <p>Representing each one of the PNI internal projects. Should have a 2 px stroke  round caps and corners.  As well, a solid element should be part of the icon.</p>
          .grid-70.grid-sm-100.icon-container
            img(src='img/icons/internal-icons/group-2.svg', alt='')
            img(src='img/icons/internal-icons/group-3.svg', alt='')
            img(src='img/icons/internal-icons/group-4.svg', alt='')
            img(src='img/icons/internal-icons/group-5.svg', alt='')
            img(src='img/icons/internal-icons/group-6.svg', alt='')
            img(src='img/icons/internal-icons/group-8.svg', alt='')
            img(src='img/icons/internal-icons/group-9.svg', alt='')
            img(src='img/icons/internal-icons/group-10.svg', alt='')
            img(src='img/icons/internal-icons/group-12.svg', alt='')
            img(src='img/icons/internal-icons/group-13.svg', alt='')
            img(src='img/icons/internal-icons/group-14.svg', alt='')
            img(src='img/icons/internal-icons/group-16.svg', alt='')
            img(src='img/icons/internal-icons/group-17.svg', alt='')
            img(src='img/icons/internal-icons/group-18.svg', alt='')
            img(src='img/icons/internal-icons/group-20.svg', alt='')
            img(src='img/icons/internal-icons/group-22.svg', alt='')
            img(src='img/icons/internal-icons/group-26.svg', alt='')
