#section-logo.logo.main

  
  include navigation-top


  .content

    // ===== Sections =====
    .section.sec-logo
      //- header.logo-header
      //-   .header-inner
      //-     h1 Logo
      .scrolldown
        .circle
        a.arrow
      article.section-article.logo-article


        // ===== article 1st: logo-intro =====
        section.-intro
          .section-inner
            p.intro-text.animated.delay
              | Section Logo
              
        // ===== article 2nd: logo variation =====
        section.logo-variation
          .section-inner
            .aside-container
              aside.aside-item
                h1 1
                div
                  h2 Horizontal Logotype
                  p Use whenever possible
              aside.aside-item
                img(src='img/logo-1.png', alt='')
            .aside-container
              aside.aside-item
                h1 2
                div
                  h2 Vertical Logotype
                  p Use in UI with limited space
              aside.aside-item
                img(src='img/logo-2.png', alt='')
            .aside-container
              aside.aside-item
                h1 3
                div
                  h2 Glyph
                  p Use in UI with limited space
              aside.aside-item
                img(src='img/logo-3.png', alt='')

        // ===== article 3rd: logo-grid =====
        section.logo-grid
          .project
            .project_card
              .logo-grid-img

        // ===== article 4rd: logo-recommend =====
        section.logo-recommend
          .section-inner
            h1 Padding Proportions
            h2 Recommended Practices
            p
              | Try to keep at least one red hexagon worth of space between the logotype and other elements.
            .logo-recommend-img
              img(src='img/logo-padding-1.png', alt=' ')
              img(src='img/logo-padding-2.png', alt='')
      .section-next
