#section-buttons.buttons.main

  include navigation-top
      
  .content

    // ===== Sections =====
    .section.sec-buttons
      article.section-article.buttons-article
              


        // =====Sections--btn-example =====
        section.animated.delay
          .section-inner
            h1.section-inner__title.show-text Buttons

        section.button-content#button-anchor-2(data-aos='fade-up' data-aos-anchor="#section-buttons" data-aos-anchor-placement="top-bottom"  data-aos-offset="-600")
          .grid-25.grid-sm-100.button-description
            //- h3 Speciﬁcations
            p Speciﬁcations for buttons that will be used throughout the site. The font used for CTA buttons is Museo Sans.

          .grid-70.grid-sm-100.button-container

            .button-grid-layout
              .button--container
                //- Button component here
                include components/button_comp
                  block button-title
                    h1.button--title button 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Size: 15px
                      .button__desc Font Weight: 300
                
                  block button-annotation
                    .button__annotation-left-text.button--animated-left 50px
                    .button__annotation-left-line.button--animated-scaleY
                    .button__annotation-right-text.button--animated-right 3px Radius Corners
                    .button__annotation-right-line.button--animated-scaleY
                    .button__annotation-right-circle.button--animated-scale
        hr

        // =====Sections--Speciﬁcations =====

        section.button-content.button-spec#button-anchor-3(data-aos='fade-up' data-aos-anchor="#button-anchor-2" data-aos-anchor-placement="top-bottom"  data-aos-offset="-400")
          .grid-25.grid-sm-100.button-description
            h3 Primary Button
            p Should be used as the main CTA for action such as Apply Now and for actions that normally completes the user’s task such as Save button.


          .grid-70.grid-sm-100.button-container

            .button-grid-layout
              //- Primary Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Primary 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #124369

              //- Hover Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Hover 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #1F74B5

              //- Active Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Active 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #1F74B5

              //- Primary Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Primary 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #1F74B5

              //- Hover Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Hover 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #0E334F

              //- Active Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Active 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #081D2E
        hr

        // =====Sections--States =====

        section.button-content.button-stat(data-aos='fade-up' data-aos-anchor="#button-anchor-3" data-aos-anchor-placement="top-bottom"  data-aos-offset="-400")
          .grid-25.grid-sm-100.button-description
            h3 States
            p Serves as cues for optional actions such as Cancel.


          .grid-70.grid-sm-100.button-container

            .button-grid-layout
              //- Primary Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Secondary 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Border/Text: #1A799C

              //- Hover Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Hover 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #1A799C

              //- Active Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Active 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #0E4052

              //- Primary Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Secondary 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Border/Text: #FFFFFF

              //- Hover Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Hover 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Border/Text: #CCCCCC

              //- Active Button
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Active 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Border/Text: #979797


          //- Disable Button 
          .grid-25.grid-sm-100.button-description
            p Used to show users an action that is available, but not at the moment.

          .grid-70.grid-sm-100.button-container.disable-button-container

            .button-grid-layout
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Disabled 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Fill: #BBBBBB
                      .button__desc Text: #474747

          //- Focused Button 
          .grid-25.grid-sm-100.button-description
            p When using the keyboard.

          .grid-70.grid-sm-100.button-container.focus-button-container

            .button-grid-layout
              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Focus 
                  block button-desc-container
                    .button_desc_container
                      .button__desc Shadow: #3E94CF

              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Focus 

              .button--container
                include components/button_comp
                  block button-title
                    h1.button--title Focus 



      .section-next
