#section-photography.photography.main
  .content

    // ===== Sections =====
    .section.sec-photography
      article.section-article.photography-article

        section.animated.delay
          .section-inner
            h1.section-inner__title Photography
        section#first-section.photo-content(data-aos='fade-up' data-aos-anchor="#section-photography" data-aos-anchor-placement="top-bottom" data-aos-offset="-400")
          .grid-25.grid-sm-100.photo-description.animated.delay
            <h3>Hero Imagery</h3>
            <p>Dark blue headers are primarily used as hero banners for the inside pages throughout the site.</p>
          .grid-70.grid-sm-100.photo-container
            <img src='img/photography/pni-1.jpg', alt=''>
            <img src='img/photography/pni-2.jpg', alt=''>
        <hr>
        section.photo-content(data-aos='fade-up' data-aos-anchor="#section-photography" data-aos-anchor-placement="top-bottom")
          .grid-25.grid-sm-100.photo-description.animated.delay
            <h3>Site Imagery</h3>
            <p>With the light and airy tone of the website, we aimed to capture and showcase images with warmer colours while illustrating PNI’s teams and culture.</p>
          .grid-70.grid-sm-100.photo-container
            .grid-50.img-grid
              <img src='img/photography/group-1.jpg', alt=''>
              <img src='img/photography/pni-3.jpg', alt=''>
            .grid-50.img-grid
              <img src='img/photography/pni-4.jpg', alt=''>
              <img src='img/photography/group-2.jpg', alt=''>

      .section-next
