#section-typography.typography.main
  .content

    // ===== Sections =====
    #firts-sectionA.section.sec-typography
      .lettera(data-aos='fade-right' data-aos-anchor="#section-typography" data-aos-anchor-placement="top-bottom" data-aos-offset="-400" data-aos-easing="ease-in-sine" data-aos-duration="500") A
      .fontname(data-aos='fade-right' data-aos-anchor="#section-typography" data-aos-anchor-placement="top-bottom" data-aos-offset="-300" data-aos-easing="ease-in-sine" data-aos-duration="650") Aa
        h1.museo Museo Sans Rounded 
      article.section-article.typography-article
        section.animated.delay
          .section-inner
            h1.section-inner__title Typography.
        section.typography-content(data-aos='fade-right' data-aos-anchor="#section-typography" data-aos-anchor-placement="top-bottom" data-aos-offset="-200" data-aos-easing="ease-in-sine" data-aos-duration="800")
          .grid-100.grid-sm-100.fontname Aa
            h1.museo Museo Sans Rounded 
          .grid-100.grid-sm-100.tgrap
            .grid-20.grid-sm-100.typo-description.animated.delay
              <h1>Heading 1</h1>
            .grid-80.grid-sm-100.typo-container
              <h1>The quick brown fox jumps over the lazy dog</h1>
              .typo_desc_container size: 38px; weight: 100; line-height:49.4px;
          .grid-100.grid-sm-100.tgrap    
            .grid-20.grid-sm-100.typo-description.animated.delay
              <h1>Heading 2</h1>
            .grid-80.grid-sm-100.typo-container
              <h2>The quick brown fox jumps over the lazy dog</h2>
              .typo_desc_container size: 30px; weight: 300;
          .grid-100.grid-sm-100.tgrap
            .grid-20.grid-sm-100.typo-description.animated.delay
              <h1>Heading 3</h1>
            .grid-80.grid-sm-100.typo-container
              <h3>The quick brown fox jumps over the lazy dog</h3>
              .typo_desc_container size: 23px; weight: 300; letter-spacing: 1.5px; line-height: 27.6px;
          .grid-100.grid-sm-100.tgrap
            .grid-20.grid-sm-100.typo-description.animated.delay
            .grid-80.grid-sm-100.typo-container
              <h4>THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</h4>
              .typo_desc_container size: 18px; weight: 300; letter-spacing: 1.5px; line-height: 21.6px;
          .grid-100.grid-sm-100.tgrap
            .grid-20.grid-sm-100.typo-description.animated.delay
            .grid-80.grid-sm-100.typo-container
              .hgray The quick brown fox jumps over the lazy dog
              .typo_desc_container size: 18px; weight: 300; letter-spacing: 1.5px; line-height: 21.6px;    
          .grid-100.grid-sm-100.tgrap
            .grid-20.grid-sm-100.typo-description.animated.delay
              <h1>Link</h1>
            .grid-80.grid-sm-100.typo-container
              .hlink The quick brown fox jumps over the lazy dog
              .typo_desc_container size: 16px; weight: 300; line-height: 2.4px;
          .grid-100.grid-sm-100.tgrap
            .grid-20.grid-sm-100.typo-description.animated.delay
              <h1>Body</h1>
            .grid-80.grid-sm-100.typo-container
             .hbody The quick brown fox jumps over the lazy dog
             .typo_desc_container size: 16px; weight: 300; line-height: 24px;
          .grid-100.grid-sm-100.tgrap
            .grid-20.grid-sm-100.typo-description.animated.delay
            .grid-80.grid-sm-100.typo-container
             .hbodys The quick brown fox jumps over the lazy dog
             .typo_desc_container size: 16px; weight: 300; line-height: 24px;
          .grid-100.grid-sm-100.headings(data-aos='fade-up' data-aos-anchor="#firts-sectionA"  data-aos-anchor-placement="top-bottom" data-aos-duration="800")
            .grid-100.grid-sm-100.headingstop
              .grid-50.grid-sm-100.first
                <h3>HEADING 3</h3>
                <h1>Heading 1</h1>
                .hbody Large body text. A short decription typically a one liner, will usually be two or three lines maximum.
              .grid-50.grid-sm-100.first
                <h3>HEADING 3</h3>
                .hbody Large body text. A short decription typically two lines
            
              .grid-50.grid-sm-100.second
                <h1>Heading 1</h1>
                <h3>Heading 3</h3>
                .hbody Large body text. A short decription typically a one liner, will usually be two lines maximum.
              .grid-50.grid-sm-100.second
                <h3>Heading 3</h3>
                .hbody This is Heading 3 description or blurb.

          .grid-100.grid-sm-100.headings
            .grid-100.grid-sm-100.thirt
              <h4>HEADING 3</h4>
              <h1>This is Heading 1. Usually spread out over two lines</h1>
    .grid-100.grid-sm-100.section.sec-blue
      .back
        <h4>HEADING 3</h4>
        <h1>This is Heading 1. Usually spread out over two lines</h1>