#section-logo.logo.main

  
  include navigation-top


  .content

    // ===== Sections =====
    .section.sec-logo

      article.section-article.logo-article

        section.animated.delay
          .section-inner
            h1.section-inner__title.show-text Logo
              
        // ===== article 2nd: logo variation =====
        section.logo-variation#logo-anchor-2(data-aos='fade-up' data-aos-anchor="#section-logo" data-aos-anchor-placement="top-bottom"  data-aos-offset="-600")
          .section-inner
            .aside-container
              aside.aside-item
                h1 1
                div
                  h2 Horizontal Logotype
                  p Use whenever possible
              aside.aside-item
                img(src='img/logo-1.png', alt='')
            .aside-container
              aside.aside-item
                h1 2
                div
                  h2 Vertical Logotype
                  p Use in UI with limited space
              aside.aside-item
                img(src='img/logo-2.png', alt='')
            .aside-container
              aside.aside-item
                h1 3
                div
                  h2 Glyph
                  p Use in UI with limited space
              aside.aside-item
                img(src='img/logo-3.png', alt='')


        hr

        // ===== article 3rd: logo-grid =====
        section
          .project#logo-anchor-3(data-aos='fade-up' data-aos-anchor="#logo-anchor-2" data-aos-anchor-placement="top-bottom"  data-aos-offset="-600")
            .project_card
              .logo-grid-img

        hr



        section.logo-content.logo-recommend(data-aos='fade-up' data-aos-anchor="#logo-anchor-3" data-aos-anchor-placement="top-bottom"  data-aos-offset="-600")
          .grid-25.grid-sm-100
            h3.show-text Padding Proportions
            p
              | Recommended Practices
              br
              | Try to keep at least one red hexagon worth of space between the logotype and other elements.
          .grid-70.grid-sm-100
            .logo-recommend-img
              img(src='img/logo-padding-1.png', alt=' ')
              img(src='img/logo-padding-2.png', alt='')

        // ===== article 4rd: logo-recommend =====
        //- section.logo-recommend
        //-   .section-inner
        //-     h3 Padding Proportions
        //-     //- h2 Recommended Practices
        //-     p
        //-       | Recommended Practices
        //-       | Try to keep at least one red hexagon worth of space between the logotype and other elements.
        //-     .logo-recommend-img
        //-       img(src='img/logo-padding-1.png', alt=' ')
        //-       img(src='img/logo-padding-2.png', alt='')






      .section-next
