//- ===== Button Component =====
//- ===== Use "block" to customize variations when include elsewhere =====

//- .button
//-   block button-title
  
//-   block button-desc-container
    
//-       .button_desc_container
//-           block button-desc

//-   block button-annotation


//- .button
//-   h1.button__title button 
  
//-   .button_desc_container
//-     .button__desc Size: 15px
//-     .button__desc Font Weight: 300

//-   block button-annotation


.button
  block button-title
    //- h1.button__title button 
  block button-desc-container
  //- .button_desc_container
      //- .button__desc Size: 15px
      //- .button__desc Font Weight: 300

  block button-annotation