/*	FONTS
------------------------*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  font-family: 'Raleway', Arial, sans-serif, ;
  color: #555;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #ffffff;
  margin: 0;
}

h1 {
  font-size: 38px;
  font-weight: 100;
  letter-spacing: 0;
  text-align: left;
}

h2 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0;
  text-align: left;
}

h3 {
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 0;
  text-align: left;
  line-height: 1.5;
}

h4 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: left;
}

a {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3em;
  color: inherit;
}
  

hr {
  max-width: 1020px;
  margin: 0 auto;
  margin-bottom: 4%;
  border: 1px solid #f2f2f2;
}


/* ------ Normalize ----- */

*,
*:after,
*:before {
  box-sizing: border-box;
}

hr {
		max-width: 1020px;
		margin: 0 auto;
		margin-bottom: 5%;
		border: 1px solid #f2f2f2;
}