html {
  height: 100%;
}
 
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', arial, sans-serif;
}

.styleguide-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.content {
  margin-bottom: 10%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.2s linear 0.5s;
  -moz-transition: opacity 0.2s linear 0.5s;
  transition: opacity 0.2s linear 0.5s;
}

.menu {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 0 0px 1px #f2f2f2;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: #ffffff;
  &:hover {
    font-size: 2.2rem;
    animation: expand .5s ease-in-out;
    width: 26.6vw;
  }
  h2 {
    color: #333;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    text-align: center;
    opacity: 0.2;
    transition: all 0.75s ease-in-out;
  }
  &:hover {
    h2 {
      color: white;
      font-size: 30px;
      letter-spacing: 3px;
      opacity: 1;
    }
    box-shadow: none;
    flex-grow: 1.5;
  }
}
.active.menu{
  box-shadow:none;
}
#logo:hover {
  background: #0A4780;
}

#colour:hover {
  background: #F0695C;
}

#buttons:hover {
  background: #f2f2f2;
}

#typography:hover {
  background: #124369;
}

#iconography:hover {
  background: #00abd6;
}

#photography:hover {
  background: #6B67AD;
}

.active {
  flex-grow: 1;
}
.menu.active h2 {
  color: #fff;
  font-size: 5vw;
  opacity: 1;
  letter-spacing: 3px;
}

#logo.active {
  background: #0A4780;
}

#colour.active {
  background: #F0695C;
}

#buttons.active {
  background: #f2f2f2;
}

#buttons.active{
 h2 {
    color: #00abd6;
  }
}
#typography.active {
  background: #124369;
}

#iconography.active {
  background: #00abd6;
}

#photography.active {
  background: #6B67AD;
}

.active:hover {
  width: 100%;
  font-size: 5.5rem;
}

.menu {
  &.non-active:hover {
    width: 0;
  }
  &:after {
    content: '';
    position: fixed;
    top: 20px;
    left: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.07);
    padding: 17px;
    color: #fff;
    width: 54px;
    height: 54px;
    line-height: 1.4rem;
    text-align:center;
    opacity: 0;
    transition: opacity 1.5s;
    border-bottom: solid rgba(0,0,0,0.07) 5px;
    z-index: 0;
  }
  &.active:after {
    opacity: 1;
    transition: opacity .5s;
    background-image: url(../img/arrow.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-x: 19px;
    background-position-y: 18px;
    z-index: 1000;
  }
}

.non-active {
  pointer-events: none;
  animation: hide;
  width: 0vw;
  flex-grow: 0;
  h2 {
    display: none;
  }
}

.main {
  min-height: 100vh;
  width: 100vw;
  background: #fff;
  display: none;
  transition: all .5s;
  h1 {
    text-align: center;
  }
}

.fixed-menu {
  display: none;
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: 900;
  line-height: 3rem;
  list-style-type: none;
  margin: auto;
  position: fixed;
  right: 40px;
  text-align: center;
  top: 32%;
  z-index: 100;
  li {
    cursor: pointer;
    color: white;
    display: block;
  }
}

.display {
  animation: slide-up 1.1s;
  display: block;
}

.scrolldisplay{
  display: flex !important;
}

//Tablet and below responsive menu layout

@media (max-width: #{$tablet-portrait}) {
  .container {
    flex-direction: column;
    .menu {
      width: 100%;
    }
  }
}
@media (max-width: #{$small-desktop}) {
  .container{
    flex-direction: column;
    .menu{
      width: 100%;
      &:hover {
        animation: expand .0s ease-in-out, expandh .5s ease-in-out;
        width: 100%;
        height: 26.6vw;
      }
    }  
  }
}
@media (max-width: #{$smaller-desktop}) {
  .fixed-menu{
    display: none;
  }
}
// svg animation//
#blind{
    position: absolute;
    z-index:20;
    height: 100%;
    width: 100%;
    margin: 0 -8px;
    top: 0;
    background: #124369;
    color: #fff;
    min-height: 100vh;
    overflow-y: hidden;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content:center;
}
.loader {
    position: absolute;
    width: 500px;
    height: 200px;
    margin: auto;
}
.close {
    transform: translateY(-100%);
    transition: all 0.5s;
    animation-name: blind;
}
@keyframes blind{
    90% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}
.logo{
  fill:none;
  stroke:#fff;
  stroke-miterlimit:10;
}
.hexleft{
  fill:none;
  stroke:#fff;
  stroke-miterlimit:10;
}
.hexright{
  fill:none;
  stroke:#fff;
  stroke-miterlimit:10;
}
.hexagon{
  fill:none;
  stroke:#fff;
  stroke-miterlimit:10;
}
.NXWXaTDz_0{stroke-dasharray:347 349;stroke-dashoffset:348;animation:NXWXaTDz_draw_0 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms ,Fill_blue 4400ms linear 0ms;}
.NXWXaTDz_1{stroke-dasharray:451 453;stroke-dashoffset:452;animation:NXWXaTDz_draw_1 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms ,Fill_blue 4400ms linear 0ms;}
.NXWXaTDz_2{stroke-dasharray:197 199;stroke-dashoffset:198;animation:NXWXaTDz_draw_2 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms ,Fill_blue 4400ms linear 0ms;}
.NXWXaTDz_3{stroke-dasharray:568 570;stroke-dashoffset:569;animation:NXWXaTDz_draw_3 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms ,Fill_blue 4400ms linear 0ms;}
.NXWXaTDz_4{stroke-dasharray:338 340;stroke-dashoffset:339;animation:NXWXaTDz_draw_4 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms ,Fill_blue 4400ms linear 0ms ;}
.NXWXaTDz_5{stroke-dasharray:388 390;stroke-dashoffset:389;animation:NXWXaTDz_draw_5 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms,Fill_blue 4400ms linear 0ms ;}
.NXWXaTDz_6{stroke-dasharray:158 160;stroke-dashoffset:159;animation:NXWXaTDz_draw_6 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms ,Fill_blue 4400ms linear 0ms ;}
.NXWXaTDz_7{stroke-dasharray:341 343;stroke-dashoffset:342;animation:NXWXaTDz_draw_7 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms ,Fill_blue 4400ms linear 0ms;}
.NXWXaTDz_8{stroke-dasharray:347 349;stroke-dashoffset:348;animation:NXWXaTDz_draw_8 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms ,Fill_bluel 4400ms linear 0ms;}
.NXWXaTDz_9{stroke-dasharray:111 113;stroke-dashoffset:112;animation:NXWXaTDz_draw_9 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms ,Fill_bluel 4400ms linear 0ms;}
.NXWXaTDz_10{stroke-dasharray:464 466;stroke-dashoffset:465;animation:NXWXaTDz_draw_10 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms,Fill_bluem 4400ms linear 0ms;}
.NXWXaTDz_11{stroke-dasharray:196 198;stroke-dashoffset:197;animation:NXWXaTDz_draw_11 4400ms linear 0ms ,NXWXaTDz_fade 4400ms linear 0ms,Fill_salmon 4400ms linear 0ms;}
@keyframes NXWXaTDz_draw{
  100%{
    stroke-dashoffset:0;
  }
}
@keyframes NXWXaTDz_fade{
  0%{
    stroke-opacity:1;
  }
  73.75%{
    fill: #124369;
    stroke-opacity:1;
  }
  90%{
    stroke-opacity:0;
  }
  100%{
    stroke-opacity:0;
  }
}
@keyframes NXWXaTDz_draw_0{
  0%{
    stroke-dashoffset: 348
  }
  70.3125%{
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_1{
  0%{
    stroke-dashoffset: 452
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_2{
  0%{
    stroke-dashoffset: 198
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_3{
  0%{
    stroke-dashoffset: 569
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_4{
  0%{
    stroke-dashoffset: 339
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_5{
  0%{
    stroke-dashoffset: 389
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_6{
  0%{
    stroke-dashoffset: 159
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_7{
  0%{
    stroke-dashoffset: 342
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_8{
  0%{
    stroke-dashoffset: 348
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_9{
  0%{
    stroke-dashoffset: 112
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_10{
  0%{
    stroke-dashoffset: 465
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes NXWXaTDz_draw_11{
  0%{
    stroke-dashoffset: 197
  }
  70.3125%{ 
    stroke-dashoffset: 0;
  }
  100%{ 
    stroke-dashoffset: 0;
  }
}
@keyframes Fill_blue{
  73.75%{
    fill: #124369;
  }
  90%{
    fill: #fff;
  }
}
@keyframes Fill_bluel{
  73.75%{
    fill: #124369;
  }
  90%{
    fill: #2DA4D2;
  }
}
@keyframes Fill_bluem{
  73.75%{
    fill: #124369;
  }
  90%{
    fill: #008AAF;
  }
}
@keyframes Fill_salmon{
  73.75%{
    fill: #124369;
  }
  90%{
    fill: #EF695B;
  }
}
@media (max-width: #{$small-desktop}) {
  .loader {
    position: absolute;
    width: 280px;
    height: 200px;
    margin: auto;
  }
}