// ===== Section =====
#section-photography {

	// ===== Section - Logo - Article =====
	.section-article {

		section {

			margin-bottom: 80px;

			.section-inner {
				max-width: 1020px;
				margin: 0 auto;

				.section-inner__title {
					text-align: left;
				}

				.section-inner__desc {
					text-align: center;
					width: 60%;
					margin: auto;
				}
			}
		}
	}
}

.photography-article {
	padding: 0 5%;
}

.photo-content {
	max-width: 1020px;
	margin: 0 auto;
	overflow: auto;
	position: relative;
}

.photo-container {
	padding-left: 7%;
	img {
		width: 100%;
	}
	.img-grid:first-child {
		padding-right: 5px;
	}
	.img-grid:last-child {
		padding-left: 5px;
	}
} 

.photo-description {
	h3 {
		margin-top: 0;
	}
}

@media (max-width: #{$small-desktop}) {
	.photo-container {
		padding-left: 0;
	}
}

