// ===== Section =====
#section-typography {
	background-color: #f1f1f1;
	// ===== Section - Logo - Article =====
	.section-article {
		section {
			margin-bottom: 80px;
			.section-inner {
				max-width: 1020px;
				margin: 0 auto;
				.section-inner__title {
					color: #13567B;
					text-align: left;
				    font-size: 62px;
    				font-weight: bold;
				}
				.section-inner__desc {
					text-align: center;
					width: 60%;
					margin: auto;
				}
			}
		}
		.typography-content {
			display: flex;
    		flex-wrap: wrap;
    		max-width: 1020px;
			margin: 0 auto;
			.tgrap {
				display: flex;
				overflow: hidden;
				.typo-description {
					h1 {
					    align-items: center;
						color: #eaeaea;
					  	display: flex;
					    font-size: 43px;
					    font-weight: bold;
					    justify-content: flex-end;
					    letter-spacing: -1px;
					    margin: auto;
						text-align: right;
						-webkit-text-stroke: 1px #eaeaea;
					}
				}	
				.typo-container {
					align-self: center;
					margin-left: 7%;

					h1, h2, h3, h4, .hlink, .hbody{
					text-align: left;
					}
					h1 {
					 	margin: 0;
					}
					h2 {
					    margin: 0;
					}
					h3 {
					    font-size: 22px;
					    font-weight: 300;
					    letter-spacing: 0;
					    line-height: 1.5;
					}
					h4 {	
    					color: #34A7DC;
					    font-size: 18px;
					    font-weight: 300;
					    letter-spacing: 1.5px;
					    line-height: 1.3;
					}
					.hlink {
						color: #13567B;
					    font-size: 16px;
					    font-weight: 300;
					    line-height: 1.3;
						-webkit-margin-before: 1.33em;
					    -webkit-margin-after: 1.33em;
					    -webkit-margin-start: 0px;
					    -webkit-margin-end: 0px;
					}
					.hbody {
					    font-size: 16px;
					    font-weight: 300;
					    line-height: 1.5;
					    -webkit-margin-before: 1.33em;
					    -webkit-margin-after: 1.33em;
					    -webkit-margin-start: 0px;
					    -webkit-margin-end: 0px;
					}
					.typo_desc_container {
					    display: -webkit-box;
					    display: -webkit-flex;
					    display: -ms-flexbox;
					    display: flex;
					    -webkit-box-pack: justify;
					    -webkit-justify-content: space-between;
					    -ms-flex-pack: justify;
					    justify-content: space-between;
					    font-size: 12px;
					    margin-top: 10px;
					}
				}
			}
			.headings{
				margin: 10% 0 0;
				.firts{
					text-align: center;
					h2{
						text-align: center;
						color: #34A7DC;
					}
					h3{
						margin: 0 20%;
						text-align: center;	
					}

				}
				.second{
    				margin: 10% 0 0;
					text-align: center;
					h2{
						text-align: center;
						color: #34A7DC;
					}
					h3{
						margin: 0 10%;
						text-align: center;	
					}
					h4{
						text-align: center;
						color: #34A7DC;
					}
				}
				.thirt{
					margin: 10% 0 5%;
					text-align: center;
					h1{
						text-align: center;
					}
					h4{
						color: #34A7DC;
						margin: 0 20%;
						text-align: center;
					}
				}
			}				
		}
	}
}
.lettera {
	color: #fff;
    font-size: 750px;
    font-weight: bold;
    position: absolute;
    line-height: 1;
    margin: 0;
    padding: 0;
}
.section.sec-blue{
	.back{
		background-color: #124369;
		padding: 5% 27% 5%;
		h1, h4 {
			color: #fff;
			padding: 0% 15%;
			text-align: center;	
<<<<<<< Updated upstream
=======
			text-align: center;
>>>>>>> Stashed changes
		}
	}	
}
@media (max-width: #{$small-desktop}) {
	#section-typography .section-article .typography-content .tgrap{
		display: block;
		.typo-description {
			h1 {
			    justify-content: flex-start;
				margin-top: 40px;
				padding: 0 30px;
			}
		}	
		.typo-container {
			padding: 0 30px;
			margin: 0;
		}
	}
	.section.sec-blue .back {
    	padding: 5% 5%;	
	}
	#section-typography .section-article section .section-inner .section-inner__title {
	    text-align: center;
	    padding: 0 0 0 30px;
	}
}
