//screen sizes
$large-desktop:             2000px;
$large-med-desktop:         1600px;
$medium-desktop:			1366px;
$med-sm-desktop:			1280px;
$desktop-minimum:			1025px;
$small-desktop:				1024px;
$smaller-desktop-min:		861px;
$smaller-desktop:			860px;
$desktop:                   769px;   
$tablet-portrait:			768px;
$tablet-minimum-landscape:  736px;
$fablet:					580px; 
$tablet-minimum:            415px;
$phone-large:               414px;
$phone-medium:				375px;
$phone-portrait:			320px;


$max-width:   	$large-desktop;
$min-width:    	$phone-portrait;




// Colours
$button-primary-color: #2da4d2;
$button__annotation-color: #f255ac;


//  Mixins
@mixin word-wrap-disable() {
	white-space: nowrap; /* Chrome */
}